/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */
html {
	box-sizing: border-box;
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

* {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: calc(15.6px + 0.1vw);
	font-family: 'Red Hat Display', sans-serif;
	color: #87879D;
	line-height: 1.6;
}

section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

section:nth-of-type(3) {
	background-image: url(assets/mobile/image-footer.jpg);
	background-color: #4D96A9; 
	background-size: cover;
	background-blend-mode: soft-light;
	color: #FAFAFA;
}

.header-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-group-spread {
	display: none;
	flex-direction: column;
	align-items: center;
}

p {
	width: 87%;
	padding-bottom: 8.6%;
}

h2 + p {
	padding-top: 3.25%;
}

h1 {
	font-size: 2.5em;
	font-weight: 900;
	color: #28283D;
	line-height: 1.08;
	width: 87%;
	padding: 8% 5%;
}

h2 {
	font-size: 2em;
	font-weight: 900;
	color: #28283D;
	width: 87%;
	line-height: 1.08;
	padding-bottom: 6.5%;
	/* line-height: 1.5em; */
}

button {
	width: 37%;
	padding: 5.5% 1%;
	color: white;
	font-size: 1em;
	font-weight: 600;
	border: none;
	border-radius: 40px;
}

.foot-section > h2 {
	color: #FAFAFA;
}

button.large {
	width: 51.1%;
}

button.teal {
	background-color: #4D96A9;
	margin-bottom: 4.5%;
}

button.purple {
	background-color: #855FB1;
}

.foot-section > button {
	margin-bottom: 19.25%;
}

.logo {
	width: 31%;
	padding: 12% 0;
}

.portraits-group {
	display: flex;
	/* width: 100%; */
	width: 110%;
	justify-content: space-between;
	padding: 3.5% 0;

}

.portraits-group > img {
	width: 48%;
	/* margin: 0 -10%;
	overflow: -moz-hidden-unscrollable; */
}

.button-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 8.6%;
}


.emphasis {
	color: #8FE3F9;
}

button.purple > .emphasis {
	color: #D9B8FF;
}

.vertical-line {
	width: 50%;
	border-right: 1px solid rgb(135, 135, 157, 0.25);
	height: 5.27em;
	flex-shrink: 0;
	align-self: flex-start;
	margin-top: 8.6%;
}

.vertical-line.partial {
	height: 7.03em;
}

.page-marker {
	border:1px solid rgb(135, 135, 157, 0.25);
	border-radius: 100%;
	padding: 4% 5.25%;
	font-weight: 900;
	margin-bottom: 17%;
	background-color: white;
}

section:nth-of-type(3) > .page-marker {
	color: #87879D;
	margin-top: -8%;
}


.chat-picture-group {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	padding-bottom: 17%;

}

.chat-picture-group > img {
	max-width: 48.5%;
	padding: 3.4%;
	border-radius: 12%;
}

.overline {
	color: #4D96A9;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 900;
	padding-bottom: 6.5%;
}

.foot-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and  (min-width: 700px){

	h1 {
		font-size: 2.95em;
		line-height: 1;
		width: 44.2%;
		padding: 8% 0% 3.15% 0%;
	}

	p {
		width: 59.55%;
		padding-bottom: 4.18%;
	}

	h2 + p {
		padding-top: 0;
		width: 74.7%;
		padding-bottom: 0;
	}

	section:nth-of-type(3) {
		background-image: url(assets/tablet/image-footer.jpg);
	}

	h2 {
		font-size: 2.45em;
		width: 58%;
		line-height: 1.1;
		padding-bottom: 4.2%;

	}

	button {
		width: 40%;
		font-weight: 600;
		border: none;
		border-radius: 29px;
	}
	
	button.large {
		width: 55.5%;
	}

	button.teal {
		margin-bottom: 0;
	}

	.foot-section > button {
		width: 25.15%;
		padding: 2.55%;
		margin: 5.25% 0 8.6% 0;
	}

	.button-group {
		flex-direction: row;
		justify-content: space-between;
		width: 45.35%;
		padding-bottom: 0;
	}

	.logo {
		width: 15.5%;
		padding: 6.25% 0;
	}

	.portraits-group {
		width: 110%;
		padding: 2.1% 0;
	}

	.vertical-line {
		height: 5.16em;
		flex-shrink: 0;
		align-self: flex-start;
		margin-top: 10.45%;
	}

	.vertical-line.partial {
		height: 6.85em;
	}
	

	.page-marker {
		padding: 1.83% 2.38%;
		margin-bottom: 8.75%;
	}

	.chat-picture-group {
		flex-wrap: nowrap;
		width: 89.75%;
		justify-content: space-between;
		padding-bottom: 6.25%;
	}
	
	.chat-picture-group > img {
		max-width: 23.75%;
		padding: 0;
		border-radius: 6%;
	}

	.overline {
		padding-bottom: 2.1%;
	}

	section:nth-of-type(3) > .page-marker {
		color: #87879D;
		margin-top: -3.5%;
		margin-bottom: 8.36%;
	}
}

@media screen and  (min-width: 1000px){
	.header-group {
		display: none;
	}

	.header-group-spread {
		display: flex;
		width: 85%;
		/* justify-content: space-between; */
	}

	.logo {
		width: 8.265%;
		padding: 6% 0 4.25%;
	}
	
	.portraits-group {
		width: 104.45%;
		padding-bottom: 0;
	}

	.portraits-group > img:nth-child(1) {
		padding: 0 0 5%;
	}

	.portraits-group > img:nth-child(3) {
		padding: 5% 0 0;
	}

	h1 {
		font-size: 3.76em;
		width: 63%;
	}


	p {
		width: 76%;
		padding-bottom: 4.54%;
		font-size: 1.06em;
	}

	.button-group {
		width: 49.3%;
	}

	button {
		margin: 0 0 0 2.5%;
		font-size: 0.94em;
		padding: 5.75% 0;
		width: 40.6%;
	}

	button.large {
		width: 56%;
		margin: 0 2.5% 0 0;
	}

	.vertical-line {
		margin-top: 7%;
	}

	.page-marker {
		padding: 15px 19.3px;
		font-size: 0.95em;
		margin-bottom: 4.5%;
	}

	.chat-picture-group {
		width: 77.1%;
		padding-bottom: 5.57%;
	}

	.chat-picture-group > img {
		max-width: 23%;
		border-radius: 4%;
	}

	.overline {
		font-size: 0.95em;
	}

	h2 {
		width: 30.9%;
		font-size: 2.35em;
		padding-bottom: 2.44%;
	}

	h2 + p {
		width: 37.5%;
	}

	section:nth-of-type(3) > .page-marker {
		margin-top: -2%;
		margin-bottom: 0;
	}


	.foot-section {
		flex-direction: row;
		width: 77.1%;
		padding: 6.14% 0 7%;
		justify-content: space-between;
		text-align: left;
		
	}

	.foot-section > button {
		width: 193px;
		height: 58px;
		padding: 16px 40px;
		margin: 0;
	}

	.foot-section > h2 {
		padding: 0;
		width: 31.6%;

	}

	.foot-section > p {
		width: 31.53%;
	}

	section:nth-of-type(3) {
		background-image: url(assets/desktop/image-footer.jpg);
		background-position: center;
	}

}